@model NepalJobPortal.Models.CategoryViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Category</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Category</a></li>
                            <li><a href="@Url.Action("Index","Category")">List</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header"><strong>Update Vendor Organization</strong></div>
                <div class="card-body card-block">
                    <input asp-for="CategoryId" class="form-control" hidden="hidden" />
                    <div class="form-group">
                        <label class="form-control-label">Category Name</label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

